<li>
	<span>
		<%= gravatar_for user, size: 52 %>
  		<%= link_to user.email, user %>
	</span>
	<span style="float:right">
		<% if current_user.admin? && !current_user?(user) %>
    	 <%= link_to "Eliminar", user, method: :delete,
                                  data: { confirm: "Confirme la elminación del usuario" } %>
  		<% end %>
	</span>
  
  
</li>