<footer class="footer">
  <small>
    uTask by Alejandro Guerrero, Martha Toloza.
  </small>
  <nav>
    <ul>
      <li><%= link_to "Quienes somos",   about_path %></li>
      <li><%= link_to "Contacto", contact_path %></li>
      
    </ul>
  </nav>
</footer>